html, body { height: 100%; }

body{
    width: 100vw;
    background-color: #fafaf9;
}

.main-visual{
    height: 100vh;
}

.main-visual h1{
    margin-bottom: 30px;
}

.form-control{
    width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.dist{
    background-color: orange;
}

.g-recaptcha{
    margin-right:auto;
    margin-left:auto;
    text-align: center;
    width:300px;
    margin-top:40px;
}

.btn-margin{
    margin-top: 20px;
}

#chatLogs{
    margin-top: 40px;
    height:250px;
    word-break: break-all;
    overflow: scroll;
}

#container-util{
    position: -webkit-sticky;
    position: sticky;
    left: 0px;
    top: 0px;
    height: 600px;
    width:250px;
    padding: 20px;
    background-color: white;
    z-index: 100;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 0px 2px 5px rgba(0,0,0,0.2);
}

.alert{
    z-index: 500;
}

#field{
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 0;
}

.avatar{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    color: white;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    z-index: 2;
}

.avatar-effect{
    position: absolute;
    z-index: 1;
}
